
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CountryList</title>
    <h2>Yea Boi</h2>
    <ul>
        @foreach(string str in ViewBag.Countries)
        {
            <li>@str</li>
        }
    </ul>
</head>
<body>
    <div> 
    </div>
</body>
</html>
