@model MVCBasics.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Details</title>
</head>
<body>
    <h1>Employee Details</h1>
    <div> 
        <table>
            <tr>
                <td>Employee Id: </td>
                <td>@Model.EmployeeId</td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Gender: </td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>City: </td>
                <td>@Model.City </td>
            </tr>
        </table>
    </div>
</body>
</html>
